<!-- BreadCrumbs -->

{{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
{{ $.Scratch.Add "path" .Site.BaseURL }}
<nav class="breadcrumb is-centered2 has-dot-separator" aria-label="breadcrumbs">
    <ul>
        {{ $breadcrumbs := split $url "/" }}
        {{ $i := 1 }}
        <li {{ if eq $i (len $breadcrumbs) }} class="is-active" {{ end }}><a href="{{ .Site.BaseURL | relURL }}">home</a></li>
        {{ range $index, $element := $breadcrumbs }}
        {{ $i := add $i 1 }}
        {{ $.Scratch.Add "path" $element }}
            {{ if ne $element "" }}
                <li {{ if eq $i (len $breadcrumbs) }} class="is-active" {{ end }}><a href="{{ $.Scratch.Get "path" | relURL }}">{{ . }}</a></li>
            {{ end }}
        {{ end }}
    </ul>
</nav>
